* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Anton', sans-serif;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
}

/* ========== Main Header ========== */

.main-header {
  background-color: limegreen;
  width: 100%;
  padding: 10px 15px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: darkgreen;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 56px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 15px;
}

.main-nav__item a {
  color: darkgreen;
  font-weight: bold;
  padding: 5px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: solid 1px white;
}

.main-nav__item--cta a {
  color: white;
  background-color: red;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: red;
  background-color: white;
  border: none;
}

/* ========== Section Hero ========== */

.section-hero {
  background: url('freedom.jpg');
  height: 528px;
  width: 100%;
  padding: 20px;
}

/* ========== Section Plan ========== */

.section-plan__title {
  color: darkgreen;
  text-align: center;
}

.plan {
  background-color: lightgreen;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
